.abc{
	background-color: #FF1493;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.efg{
	background-color: #1DC70F;
	width: 100px;
	height: 400px;
	position: absolute;
	top: 0px;
	left: 400px;
}

