.abc{
	background-color: #FF1493;
	width: 200px;
	height: 200px;
}

.efg{
	background-color: #17DEF2;
	width: 200px;
	height: 200px;
}

.xyz{
	background-color: #1DC70F;
	width: 200px;
	height: 200px;
}